.dialogue {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255,255,255,.70);
  animation-name: animate-text;
  animation-duration: 2s;
  animation-timing-function: steps(30, end);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes animate-text {
  from{width: 0;}
  to{width: 472px;}
}
