button {
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color: gray;
  
  &:hover {
    background-color: lightgray;
    color: black;
  }
  &:active {
    background-color: salmon;
  }
}
