* {
  box-sizing: border-box;
}
.dialogue-box {
  width: 70vw;
  background-color: white;
}

.wrapper {
  margin: 5px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.message-body {
  font-family: monospace;
  font-size: 1em;
  text-align: left;
}

.message-button {
  float: right;
}
