@font-face {
  font-family: "monobit";
  src: local("../fonts/monobitwoff2");
}
@font-face {
  font-family: "LycheeSoda";
  src: local("../fonts/LycheeSoda.woff2");
}
@font-face {
  font-family: "Silkscreen";
  src: local("../fonts/slkscr.ttf");
}
@font-face {
  font-family: "Poco";
  src: local("../fonts/poco.woff2");
}
@font-face {
  font-family: "MinimalFont5x7";
  src: local("../fonts/MinimalFont5x7.woff2");
}
// @font-face {
//   font-family: "MonsterFriendFore";
//   src: local("../fonts/MonsterFriendFore.otf");
// }

* {
  font-family: MinimalFont5x7, monobit, monospace;
}
h1 {
  font-family: LycheeSoda;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: LycheeSoda;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

p {
  font-size: 1.5rem;
  color: gray;
  line-height: 0.8;
  margin: 0;
}
