@font-face { // pretty standard
  font-family: 'PIXEARG_';
  src: url('../assets/fonts/PIXEARG_.TTF');
}

@font-face {
  font-family: 'MonsterFriendFore';
  src: url('../assets/fonts/MonsterFriendFore.otf');
}
@font-face {
  font-family: 'RPGSystem';
  src: url('../assets/fonts/RPGSystem.ttf');
}
@font-face {
  font-family: 'LycheeSoda';
  src: url('../assets/fonts/LycheeSoda.ttf');
}



@font-face {
  font-family: 'Daydream';
  src: url('../assets/fonts/Daydream.ttf');
}
@font-face {
  font-family: 'MinimalFont5x7';
  src: url('../assets/fonts/MinimalFont5x7.ttf');
}

@font-face { // copy??
  font-family: '04B_03__';
  src: url('../assets/fonts/04B_03__.TTF');
}
@font-face {
  font-family: 'memesbruh';
  src: url('../assets/fonts/memesbruh.ttf');
}
@font-face { // 21px
  font-family: 'PixelOperator';
  src: url('../assets/fonts/PixelOperator.ttf');
}
@font-face { // TINY ALL CAPS
  font-family: 'PixelTiny';
  src: url('../assets/fonts/PixelTiny.ttf');
}
@font-face { // cute compact copy
  font-family: 'PixelSymtext';
  src: url('../assets/fonts/Pixel Symtext.otf');
}
@font-face {
  font-family: 'Poco';
  src: url('../assets/fonts/Poco.ttf');
}
@font-face { // 8px - ALL CAPS
  font-family: 'Silkscreen';
  src: url('../assets/fonts/slkscr.ttf');
}
@font-face { // 8px - ALL CAPS
  font-family: 'SilkscreenBold';
  src: url('../assets/fonts/slkscrb.ttf');
}
@font-face { //suuuper tiny but cute
  font-family: 'tiny-islanders';
  src: url('../assets/fonts/tiny-islanders.otf');
}
