@import 'fonts';
@import 'variables';

* {
  font-family: 'PIXEARG_';
  font-size: 1em;
}

h1 {
  font-family: 'MonsterFriendFore';
  font-size: 4rem;
  color: #fff;
}

h2 {
  font-family: 'Daydream';
  font-size: 3rem;
  color: #fff;
}

h3 {
  font-family: 'LycheeSoda';
  font-size: 5rem;
}

h4 {
  font-family: 'LycheeSoda';
  font-size: 4rem;
}

h5 {
  font-family: 'LycheeSoda';
  font-size: 3rem;
}

h6 {
  font-family: 'LycheeSoda';
  font-size: 2.5rem;
}

p {
  font-family: 'monobit';
  font-size: 32px;
}

.id {
  font-family: 'PIXEARG_';
  color: $gray;
  font-size: .7em;
}
