// VARIABLES

$px: 2;
$adjust-tone: 15%;

// COLOR VARIABLES

$lightgray: #c8e1eb;
$gray: #7891a5;
$medgray: #55647d;
$darkgray: #191e3c;
$peach: #ffcdb4;
$lightpink: #ff8c8c;
$pink: #e65078;
$blue: #41d7d7;
$yellow: #ffe65a;

$lightyellow: lighten($yellow, $adjust-tone)
