@import '~bootstrap/scss/bootstrap';
@import './styles/variables';
// https://www.w3schools.com/colors/colors_hex.asp

$tile: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main { // full page wrapper
  width: 100vw;
  height: 100vh;
  background-color: linen;
  align-items: center;
  justify-items: center;
  display: grid;
}

header { // sticky header!
  height: 32px;
  width: 100vw;
  background-color: lightgray;
  align-self: flex-start;
}

footer { // sticky footer!
  height: 32px;
  width: 100vw;
  background-color: lightgray;
  align-self: flex-end;
}

button {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: salmon;
  
  &:hover {
    background-color: pink;
  }
  
  &:active {
    background-color: salmon;
  }
}

.game-wrapper { // game wrapper
  background-color: mistyrose;
  height: 26 * $tile;
  width: 34 * $tile;
  align-items: center;
  justify-items: center;
  display: grid;
}

#canvas-base {
  height: 24 * $tile;
  width: 32 * $tile;
}

.player { // player container
  align-self: flex-end;
  height: 3 * $tile;
  width: 2 * $tile;
  background-color: $secondary;
}

.entity { // item container
  height: 1 * $tile;
  width: 1 * $tile;
  background-color: $warning;
}
